// Breakpoints
$media-xxl: 1399.98px;
$media-xl: 1199.98px;
$media-lg: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 480.98px;
// Colors
$color-primary-alpha: #160b56;
$color-primary-beta: #fff;
$color-primary-gamma: #1d1c26;
$color-primary-psi: #f1f1f5;
$color-primary-omega: #46469c;
// Fonts
$font-primary: 'TTNorms', sans-serif;
