mixin footer(isMain=true)
  if isMain
    footer.footer
      .container
        .info
          +icon('info__logo-icon', 'logo')
          .info__group
            .info__group-inner
              a.info__link.info__link--small(href="https://yandex.by/maps/-/CCUqnMxqCB" rel="noopener" target="_blank")
                +icon('info__icon', 'location')
                |Москва, Волгоградский проспект., д. 45А
              a.info__link(href="mailto:info@souzprofexpert.ru")
                +icon('info__icon', 'message')
                |info@souzprofexpert.ru
            a.info__phone(href="tel:+74993468283") +7 (499) 346-82-83
  else
    footer.footer
      .container
        .footer__info
          button.footer__info-item Политика конфиденциальности
          a.footer__info-item(href="https://souzprofexpert.ru/upload/files/regulation.PDF" rel="noopener" target="_blank") Административный регламент

