mixin header(modif=null)
  header.header(class = modif)
    .container
      .info
        .info__logo
          +icon('info__logo-icon', 'logo')
          a.header__rules(href="https://souzprofexpert.ru/upload/files/regulation.PDF" rel="noopener" target="_blank")
            +icon('info__icon', 'file')
            span.header__rules-txt
              span Административный&nbsp;
              span регламент
        .info__group
          .info__group-inner
            a.info__link.info__link--small(href="https://yandex.by/maps/-/CCUqnMxqCB" rel="noopener" target="_blank")
              +icon('info__icon', 'location')
              |Москва, Волгоградский проспект., д. 45А
            a.info__link(href="mailto:info@souzprofexpert.ru")
              +icon('info__icon', 'message')
              |info@souzprofexpert.ru
          .info__phone-mail
            a.info__phone(href="tel:+74993468283") +7 (499) 346-82-83
            a.info__mail(href="mailto:info@souzprofexpert.ru" aria-label="info@souzprofexpert.ru")
              +icon('info__icon', 'message')
