doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      meta(name="description" content="Экспертиза проектной документации в Москве")
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")

      link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
      script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")

      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.css")

      link(rel="stylesheet" href="css/style.min.css")

      block title
        title СоюзПрофЭксперт
  body
    include ../includes/common/mixins
    include header
    include footer
    block header
      +header
    block content
    block footer
      +footer
    block scripts
      script(src='scripts/main.min.js')
