.about {
  margin-bottom: 14rem;

  @include media-tablet-lg {
    margin-bottom: 70px;
  }
}

.about__inner {
  display: flex;
  justify-content: space-between;

  @include media-tablet-lg {
    flex-direction: column;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-right: 3rem;

  @include media-tablet-lg {
    margin-right: 15px;
  }
}

.about__title {
  margin-bottom: 3.7rem;
}

.about__subtitle {
  font-size: 2.6rem;
  font-weight: 500;

  margin-bottom: 2rem;
}

.about__txt {
  font-size: 2rem;

  margin-bottom: 2.3rem;

  span {
    font-weight: 700;
    color: $color-primary-alpha;
  }
}

.about__permission {
  padding: 2.8rem;
  margin-bottom: 2rem;

  font-size: 2rem;
  font-weight: 500;
  text-align: center;

  background-color: $color-primary-psi;
  border-radius: $border-r-xl;

  @include media-smartphone-sm {
    font-size: 16px;
    padding: 15px;
  }
}

.about__gains {
  padding: 3.5rem 3rem;

  border-radius: $border-r-xl;
  border: 1px solid $color-primary-psi;

  &-txt {
    font-size: 2.6rem;
    font-weight: 500;

    margin-bottom: 2.9rem;
  }

  @include media-tablet-lg {
    padding: 25px 20px;

    margin-bottom: 30px;

    &-txt {
      text-align: center;
    }
  }
}

.about__list {
  display: flex;

  &-item {
    display: flex;
    flex-direction: column;

    font-size: 1.8rem;

    max-width: 29.5rem;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 15px;

      height: 60px;
      width: 60px;

      border: 1px solid $color-primary-alpha;
      border-radius: 50%;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  @include media-tablet-lg {
    justify-content: space-between;

    &-item {
      align-items: center;

      width: 48%;
      text-align: center;

      max-width: unset;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  @include media-smartphone-lg {
    flex-wrap: wrap;

    &-item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.about__img {
  max-width: 47rem;
  width: 100%;

  border-radius: $border-r-lg;

  object-fit: cover;

  @include media-laptop {
    max-width: 40rem;
  }

  @include media-tablet-lg {
    max-width: 37rem;

    margin: 0 auto;
  }
}
