.button {
  text-transform: uppercase;
  color: $color-primary-beta;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.4rem;

  background-color: $color-primary-omega;
  border-radius: $border-r-lg;

  width: 100%;

  margin-bottom: 17px;

  transition: background-color 0.1s linear;

  &:hover {
    background-color: lighten($color-primary-omega, 10);
  }
}
