.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3rem 0;

  @include media-laptop {
    align-items: flex-start;
  }

  @include media-smartphone-lg {
    flex-direction: column;
    align-items: center;
  }
}

.info__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-icon {
    max-height: 46px;
    max-width: 250px;

    margin-right: 5rem;
  }

  @include media-laptop {
    flex-direction: column;
    align-items: unset;

    &-icon {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  @include media-smartphone-lg {
    margin-bottom: 20px;

    align-items: center;
  }
}

.info__group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-inner {
    display: flex;
    align-items: center;

    margin-right: 5.4rem;
  }

  @include media-tablet-lg {
    flex-direction: column;
    align-items: flex-end;

    &-inner {
      margin-right: 0;

      align-items: flex-start;
    }
  }

  @include media-tablet-sm {
    &-inner {
      flex-direction: column;
    }
  }

  @include media-smartphone-lg {
    align-items: center;

    &-inner {
      margin-bottom: 20px;

      align-items: center;
    }
  }
}

.info__link {
  display: flex;
  align-items: center;

  color: $color-primary-gamma;

  max-width: 20rem;

  transition: color 0.1s linear;

  &:hover {
    color: $color-tertiary-alpha;

    .info__icon {
      fill: $color-tertiary-alpha;
    }
  }

  &:not(:last-of-type) {
    margin-right: 2rem;
  }

  &--small {
    font-size: 1.4rem;
  }

  @include media-tablet-sm {
    &:not(:last-of-type) {
      margin-right: 0;

      margin-bottom: 20px;
    }
  }

  @include media-smartphone-lg {
    max-width: unset;
  }
}

.info__phone-mail {
  display: flex;
  align-items: center;
}

.info__mail {
  display: none;
  align-items: center;

  margin-left: 20px;

  @include media-smartphone-lg {
    display: flex;
  }
}

.info__phone {
  color: $color-primary-alpha;
  font-size: 2.2rem;
  font-weight: 500;

  transition: color 0.1s linear;

  &:hover {
    color: $color-tertiary-alpha;
  }

  @include media-tablet-sm {
    order: -1;

    margin-bottom: 10px;
  }

  @include media-smartphone-lg {
    order: 0;

    margin-bottom: 0;
  }
}

.info__icon {
  margin-right: 10px;

  min-height: 20px;
  min-width: 20px;
  max-height: 21px;
  max-width: 20px;

  fill: $color-primary-alpha;

  transition: fill 0.1s linear;
}
