.swiper-container {
  overflow: hidden;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -40px;
  left: 0;
  width: 100%;
}

.swiper-pagination {
  position: static;

  z-index: 1;

  &-bullet {
    height: 10px;
    width: 10px;

    background-color: $color-primary-gamma;

    &-active {
      background-color: $color-primary-alpha;
      border: 0;
    }
  }
}
